
@font-face {
    font-family: ArgentumSans;
    src: url('./assets/fonts/ArgentumSans-Black.ttf') format('truetype');
      font-weight: 900;
  }
  
  @font-face {
    font-family: ArgentumSans;
    src: url('./assets/fonts/ArgentumSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
  }
  
   @font-face {
    font-family: 'ArgentumSans';
    src: url('./assets/fonts/ArgentumSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: ArgentumSans;
    src: url('./assets/fonts/ArgentumSans-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'ArgentumSans';
    src: url('./assets/fonts/ArgentumSans-Regular.ttf') format('truetype');
    font-weight: 400;
  }