// colors
$blueLight: #02adf1;
$blueMediumLighter: #3a56d1;
$blueMedium: #4562e6;
$yellow: #ffbe12;
$darkYellow: #e6ac0c;
$black: #181818;
$gray: #c4c4c4;
$mediumGray: #CFCFCF;
$darkGray: #565656;
$white: #fff;
$red: #e53935;

// Fonts sizes
$fontSizeBig: 1.75rem;
$fontSizeNormalBigger: 1.55rem;
$fontSizeNormal: 1rem;
$fontSizeSmall: .8rem;
$fontSizeSmaller: 0.75rem;
