// colors
$blueLight: #02ADF1;
$blueMedium: #4562E6;

$yellow: #FFBE12;
$black: #181818;
$gray: #C4C4C4;
$white: #FFF;

// $fontSizeBig: 2.063rem;
$fontSizeBig: 1.75rem;
$fontSizeNormal: 1rem;
$fontSizeSmall: 0.75rem;
// $fontSizeSmaller: 1rem;
// $fontSizeNormalBigger: 1.5rem;
// $fontSizeMedium: 2rem;
// $fontSizeLarge: 2.5rem;